$base-color:           #DBDBDB;
$primary-color:        #a1fc8f;
$text-color:           $base-color;
$placeholder-color:    $base-color;
$link-color:           $base-color;
$border:               dashed 1px rgba(219,219,219,0.9);
$selection-background: rgba(219,219,219,0.99);
$selection-text:       #222;
$background-color:     #222;

@import "base";
